*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:linear-gradient(135deg,#081229,#153b8f,#2563eb);

    color:white;

    min-height:100vh;

}

.container{

    width:90%;

    max-width:1200px;

    margin:auto;

    padding:40px 20px;

}

header{

    text-align:center;

    margin-bottom:40px;

}

header h1{

    font-size:48px;

    margin-bottom:10px;

}

header h2{

    font-size:28px;

    font-weight:500;

    color:#dbeafe;

}

.story,
.objective,
.progress-box,
.lesson,
.quiz,
.result{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(12px);

    border:1px solid rgba(255,255,255,.15);

    border-radius:20px;

    padding:25px;

    margin-bottom:25px;

}

.story h2,
.objective h2,
.progress-box h2,
.lesson h2,
.quiz h2{

    margin-bottom:15px;

    color:#ffffff;

}

.story p,
.lesson p{

    line-height:1.8;

    color:#e2e8f0;

}

.objective ul,
.lesson ol{

    margin-left:25px;

    line-height:2;

}

progress{

    width:100%;

    height:25px;

    margin-top:15px;

}

#progressText{

    margin-top:10px;

    color:#00ff88;

    font-size:26px;

    font-weight:bold;

}

.quiz button{

    display:block;

    width:100%;

    margin-top:15px;

    padding:16px;

    border:none;

    border-radius:12px;

    cursor:pointer;

    background:#2563eb;

    color:white;

    font-size:18px;

    transition:.3s;

}

.quiz button:hover{

    background:#22c55e;

    transform:translateY(-3px);

}

.buttons{

    display:flex;

    gap:20px;

    margin-top:30px;

}

.buttons button{

    flex:1;

    padding:18px;

    border:none;

    border-radius:15px;

    background:#22c55e;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

.buttons button:hover{

    transform:translateY(-4px);

    background:#16a34a;

}

.buttons button:disabled{

    background:#64748b;

    cursor:not-allowed;

}

.result{

    display:none;

    text-align:center;

    font-size:24px;

    font-weight:bold;

}

.success{

    display:block;

    border:2px solid #22c55e;

    color:#22c55e;

}

.fail{

    display:block;

    border:2px solid #ef4444;

    color:#ef4444;

}

@media(max-width:768px){

header h1{

font-size:34px;

}

header h2{

font-size:20px;

}

.buttons{

flex-direction:column;

}

} 